.col {
    float: left;
    width: 50%;
    padding: 30px;
  } 
  
.container-main {
    height: 300px;
  }
  
#dog-image {
    padding: 50px;
  }
  
#cat-image {
    padding: 50px;
  }
  
.anchor {
     margin-left: 16px;
   }
  
.row  {
     width: 600px;
     height: 1000px;
     margin-left: 280px;
   }
  
.hero {
    margin-bottom: 20px;
   }

footer {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
  }

  .start {
    max-width: 400px;
  }
.start-button {
    color:white;
    background-color: blue;
  }

#mapID {
    width: 300px;
    height: 300px;
    float: right;
  }

#mapInfo {
    float: right;
  }

.hide {
    display: none;
  }

<<<<<<< HEAD
  #resetBtn{
		background-color: rgb(207, 198, 198);
		color: rgb(221, 51, 9);
	}
=======
#resetBtn{
		background-color: rgb(207, 198, 198);
		color: rgb(221, 51, 9);
	}
>>>>>>> 3a4dd8b402f3845fa49ad02968302700df1bc03d
