.breadcrumb{
    background-color:#26a69a !important;
   }

.page-footer {
    padding-top:20px;
    margin-top:240px;
}

.container {
    max-width:960px;
}


#mapID {
	width: 50%;
	height: 300px;
	float:right;
	text-align:center;
	position:relative;
   	top:0;
   	right:0;
  }

  #dog-image {
    padding: 50px;
  }
  
  #mapInfo {
    float: left;
  }
  
  .hide {
    display: none;
  }

  .card {
      color:black;
      box-shadow: 5px 5px rgba(0,0,0,.5);
  }

  .card {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .card img {
	width: 50%;
	height: 300px;
	float:left;
	text-align:center;
	position:relative;
   	top:0;
   	left:0;

  }

  #dogDiv, #catDiv {
    width: 100%;
    border: 1px solid gray;
    padding: 10px;
    margin:0 auto;
    margin-top:10px;
    background: #ee6e73;
    color: white;
    box-shadow: 10px 10px rgba(0,0,0,.5);
  }

  #lol {
	  color:black;
  }

 

  button {
    padding: 1em 2.1em 1.1em;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: #fbdedb;
    background-color: #fbdedb;
    display: inline-block;
    background: #e74c3c;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
}
button:hover, button:focus {
    opacity: 0.8;
}
button:active {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}
button.block {
    display: block !important;
}
button.circular {
  border-radius: 50em !important;
}

 button {
    background-color: #26a69a;
}

p {
	padding-left:10px;
}

h1{
	color:white;
}



.input {
	color:white;
}


	body {
		background: url("https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	   }

	   ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: white;
	  }

	  .select-dropdown{
		color: white;
	}
